@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    background-color: $body_bg_color; //overflow-y: hidden;
    font-family: "open sans";
}

input {
    font-family: "open sans";
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */

.max_width {
    width: 100%;
    max-width: $max_width;
    margin: 0 auto;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Header */
#main_header {
    background-color: #fff;
    //background-color: #4CAF50;
    //background-color: #FF5722;
    height: $main_header_height;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 30px 0px;
    //position: fixed;
    z-index: 1000;
    user-select: none;

    @include media-breakpoint-down(sm) {
        //padding-right: 0px;
    }

    .main_header_container {
        /* Logo section */
        .logo {
            font-family: montserrat;
            font-weight: 700;
            font-size: 22px;
            text-transform: uppercase;
            //padding-right: 30px;

            a {
                color: #000;
                //color: #F44336;
                //color: #2d8a31;
                //color: #fff;
                text-decoration: none;
                display: flex;
                align-items: center;
                //text-shadow: 0px 0px 1px #000;

                i {
                    margin-right: 4px;
                    margin-bottom: 4px;
                    font-size: 28px;
                }
            }
        }
        /* Logo section */

        /* Menu RHS section */
        .menu_rhs {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 14px;
            cursor: pointer;

            @include media-breakpoint-down(md) {
                font-size: 13px;
            }
            .text {

            }
            .button {
                margin-left: 15px;
                a {
                    //color: #FF5722;
                    color: #fff;
                    //background-color: #fff;
                    background-color: #FF5722;
                    padding: 10px 20px;
                    border-radius: 25px;
                    text-decoration: none;
                    transition: all 0.3s ease;

                    &:hover {
                        //color: darken(#FF5722, 10%);
                        background-color: darken(#FF5722, 10%);
                    }
                }
            }

            &.logged_in {
                .text {
                    display: flex;
                    margin-left: 15px;
                    i{
                        font-size: 30px;
                    }
                }

                .user_details_container {
                    background-color: #F7F7F7;
                    height: 45px;
                    min-width: 150px;
                    border-radius: 50px;
                    margin-left: 15px;
                    border: 1px solid #DDDDDD;
                    display: flex;
                    align-items: center;
                    padding: 0px 4px;

                    .user_image {
                        width: 36px;
                        height: 36px;
                        border-radius: 50px;
                        background-color: #fff;

                        img {
                            border-radius: 50px;
                        }

                        i {
                            font-size: 20px;
                        }
                    }

                    .user_name {
                        margin-left: 5px;
                        font-size: 13px;
                        flex-grow: 1;
                        margin-right: 15px;
                    }

                    .account_show_more_icon {
                        width: 36px;
                        height: 36px;
                        border-radius: 50px;
                        background-color: #FD6721;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                    }
                }

            }
        }
        /* Menu RHS section */
    }
}
/* Header */


/* Content */
#content {
    height: $content_height;

    #suggestions {
        height: $content_height;
        background-color: #f7f7f7;
        padding: 15px;
        overflow-y: auto;

        @include media-breakpoint-down(xs){
            //height: auto;
        }

        .suggestions_heading {
            font-family: "Roboto Slab";
            font-weight: 600;
            font-size: 22px;
            text-align: center;
            margin: 15px 0px 35px;
            //color: #2d8a31;
        }

        .suggestions_div {
            background-color: #fff;
            min-height: 75px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            padding: 20px;
            cursor: pointer;

            &:last-child {
                margin-bottom: 0px;
            }

            .li_word_container {
                display: flex;
                align-items: center;

                .li_disc {
                    min-width: 8px;
                    min-height: 8px;
                    border-radius: 8px;
                    margin-right: 10px;
                }
    
                .li_disc_red {
                    background-color: #ff3153;
                }
    
                .li_disc_green {
                    background-color: #0CCAC2;
                }

                .word {
                    font-size: 14px;
                }
            }

            .word_container_expanded {
                display: flex;
                .word {
                    background-color: #ff3153;
                    padding: 5px 10px;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 13px;
                    font-weight: 700;
                }
            }

            .synonym_container {
                display: flex;
                flex-wrap: wrap;
                margin-top: 15px;
                
                .synonym {
                    background-color: #0CCAC2;
                    padding: 5px 10px;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 13px;
                    font-weight: 600;
                    margin: 0px 5px 5px 0px;
                }
            }
        }

        .suggestions_div_expanded {
            min-height: 150px;
            box-shadow: 0 0.625rem 3.5rem 0 rgba(198,203,222,.45);
            display: block;
            
        }
    }

    #text_input {
        height: $content_height;
        padding: 5px 15px;
        padding-right: 0px;

        @include media-breakpoint-down(sm){
            //height: auto;
        }

        #textarea_input {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            //height: 100%;
            min-height: calc(100% - 80px);
            max-height: calc(100% - 80px);
            outline: none;
            border: none;
            font-size: 20px;
            padding: 15px 15px 0px 0px;
            overflow: auto;
            

            @include media-breakpoint-down(sm){
                //height: auto;
            }

            
        }

        [contenteditable=true]:empty:before{
            content: attr(placeholder);
            display: block; /* For Firefox */
            color: #999;
        }


        /* INLINE SUGGESTIONS  */
        .inline_suggestions {
            position: absolute;
            /* top: 25%;
            left: 25%; */
            display: none;
            z-index: 10000;
            background-color: #333;
            //min-height: 150px;
            box-shadow: 0 0.625rem 3.5rem 0 rgba(198,203,222,0.45);
            padding: 20px;
            max-width: 700px;
            max-height: 120px;
            overflow: auto;

            &.active {
                display: block;
            }

            .word_container_expanded {
                display: flex;
                .word {
                    background-color: #ff3153;
                    padding: 5px 10px;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 13px;
                    font-weight: 700;
                }
            }

            .synonym_container {
                display: flex;
                flex-wrap: wrap;
                margin-top: 15px;
                
                .synonym {
                    background-color: #0CCAC2;
                    padding: 5px 10px;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 13px;
                    font-weight: 600;
                    margin: 0px 5px 5px 0px;
                    cursor: pointer;
                }
            }
        }

        .copy_to_clipboard {
            max-height: 75px;
            min-height: 75px;
            display: flex;
            align-items: center;
            padding: 0px 0px;

            .text_input_button {
                min-width: 150px;
                padding: 15px;
                font-family: montserrat;
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
                border: none;
                outline: none;
                margin-right: 15px;

                @include media-breakpoint-down(sm) {
                    min-width: 100px;
                    max-width: 100px;
                    font-size: 13px;
                    padding: 15px 10px;
                }
            }

            .copy_button {
                background-color: #639B3B;
                color: #fff;
                width: 200px;

                @include media-breakpoint-down(sm) {
                    min-width: 100px;
                    max-width: 100px;
                }
            }

            .cancel_button {
                background-color: #E8E8E8;
                color: #000;
            }
        }
    }
}
/* Content */